.tab {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  min-width: 72px;
}

.tab.active {
  border-bottom: 3px solid var(--ifm-color-primary);
}

.tab.active .tabTitle {
  color: var(--ifm-color-primary);
}

.tab:not(.active) {
  margin-bottom: 3px;
}

.tabImage {
  margin: 0 auto;
}

.tabTitle {
  font-size: .9rem;
  line-height: 18px;
  margin-top: 8px;
  text-align: center;
}
