---
name: test
on:
  pull_request:
  push:
    branches:
    - gh-readonly-queue/**
    - master
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 18
        cache: yarn
    - name: Install dependencies
      run: yarn install --frozen-lockfile
    - name: Typecheck
      run: yarn typecheck
